{% extends 'layout.html.twig' %}

{% block title %}Page d'inscription{% endblock %}

{% block content %} 

    <div>
        <h1 class="uk-heading-small">Inscrivez-vous sur StrasCook</h1>
    </div>

    <div>

        <form method="post" class="connexion-form">

            <div> 
                <div class="connexion-label-input">
                    <label for="firstname" class="connexion-label">Prénom</label>
                    <input type="text" name="firstname" class="connexion-champ uk-form-width-large" required>
                </div>

                <div class="connexion-label-input">
                    <label for="lastname" class="connexion-label">Nom</label>
                    <input type="text" name="lastname" class="connexion-champ uk-form-width-large" required>
                </div>

                <div class="connexion-label-input">
                    <label for="adress" class="connexion-label">Adresse</label>
                    <input type="text" name="adress" class="connexion-champ uk-form-width-large" required>
                </div>

                <div class="connexion-label-input">
                    <label for="phone" class="connexion-label">Numéro de téléphone</label>
                    <input type="text" name="phone" class="connexion-champ uk-form-width-large" required>
                </div>
            </div>

            <div>
                <div class="connexion-label-input">
                    <label for="username" class="connexion-label">Nom d'utilisateur</label>
                    <input type="text" name="username" class="connexion-champ uk-form-width-large" required>
                </div>

                <div class="connexion-label-input">
                    <label for="email" class="connexion-label">E-mail</label>
                    <input type="text" name="email" class="connexion-champ uk-form-width-large" required>
                </div>

                <div class="connexion-label-input">
                    <label for="password" class="connexion-label">Mot de passe</label>
                    <input type="text" name="password" class="connexion-champ uk-form-width-large" required>
                </div>

                <div class="button-connexion-form">
                    <button class="uk-button-large" href="">Inscription</button>
                </div>
            </div>
        
        </form> 

        <div>
            <p class="deja-inscrit">Déjà inscrit? <a href='/connexion'>connectez-vous</a></p>
        </div>

    </div>

    
{% endblock %}