{% extends "layout.html.twig" %}

{% block stylesheet %}<link rel="stylesheet" href="./assets/css/_mentionslegales.css">
{% endblock %}

{% block content %}


<main class="uk-container uk-background-muted">


    <article class="uk-article" >

    <h1 class="uk-ml-title"><a class="uk-link-reset" href="">MENTIONS LEGALES</a></h1>

    

    <p class="uk-ml-lead">Conformément aux dispositions de l'article 6 III-1 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, le présent site est exploité par :

    StrasCook, SAS au capital de 3 443,40 Euros.

    Siège social : Remote Avenue 67000 STRASBOURG, FRANCE

    RCS Paris : 000 000 000

    Marque et logo : StrasCook est une marque déposée et protégée

    Téléphone : +33 1 76 34 00 34

    Email : contact@strascook.com

    Responsable légal : Guillaume Cussac

    Numéro de TVA : FR 63 539146290

    Hébergement : Amazon AWS (Amazon Web Services LLC P.O. Box 81226 Seattle, WA 98108-1226 http://aws.amazon.com)

Liens hypertextes : ”Des liens hypertexte contenus sur ce site peuvent renvoyer vers d'autres sites web ou d'autres sources Internet. Dans la mesure où la société La Belle Assiette ne peut contrôler ces sites et ces sources externes, La Belle Assiette ne peut être tenue pour responsable de la mise à disposition de ces sites et sources externes, et ne peut supporter aucune responsabilité quant aux contenus, publicités, produits, services ou tout autre matériel disponibles sur ou à partir de ces sites ou sources externes."


</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</main>

{% endblock %}
