{% extends "layout.html.twig" %}

{% block content %}


<main class="uk-container uk-background-muted">


    <article class="uk-article" >

    <h2 class="title"><u>MENTIONS LEGALES</u></h2>

    

    <p class="uk-ml-lead">Conformément aux dispositions de l'article 6 III-1 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, le présent site est exploité par :
    <ul class="uk-list uk-list-bullet">
    <li>StrasCook, SAS au capital de 3 443,40 Euros.</li>
    <li>Siège social : Remote Avenue 67000 STRASBOURG, FRANCE</li>
    <li>RCS Paris : 539 146 290</li>
    <li>Marque et logo : StrasCook est une marque déposée et protégée</li>
    <li>Téléphone : +33 3 88 50 00 34</li>
    <li>Email : contact@strascook.com</li>
    <li>Responsable légal : Yavuz KUTUK</li>
    <li>Numéro de TVA : FR 63 539146290</li>
    <li>Réalisation du site : Laura W, Stéphanie V, Lionel D et Maxime CB</li>
    
</ul>
    
Liens hypertextes : ”Des liens hypertexte contenus sur ce site peuvent renvoyer vers d'autres sites web ou d'autres sources Internet.
 Dans la mesure où la société StrasCook ne peut contrôler ces sites et ces sources externes, 
 StrasCook ne peut être tenue pour responsable de la mise à disposition de ces sites et sources externes, 
 et ne peut supporter aucune responsabilité quant aux contenus, publicités, produits, services ou tout autre matériel disponibles sur ou à partir de ces sites ou sources externes."

</p>

</main>

{% endblock %}
