<ul>

	<li><a href='/admin/dashboard'>Dashboard</a></li>
	<li><a href='/produits'>Gestion des produits</a></li>
	<li><a href='/admin/user'>Gestion des clients</a></li>
	<li><a href='/admin/menus/read'>Gestion des menus</a></li>
	<li><a href='/admin/resa'>Gestion des réservations</a></li>
	<li><a href=''>Messages reçus</a></li>
	<li><a href='/'>Retour à la navigation</a></li>
	<li><a href='/logout'>Déconnexion</a></li>

</ul>
