{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/_cards.css" />
{% endblock %}


{% block content %} 
{# <div>C'est ici que va le code de la page Menus.</div> #}

{# Le code utilise /public/assets/css/_cards.css #}

{# 
Reste à faire : 
PDO + REQUETE SQL SUR: Le nom du menu, l'image, la description,  le prix.
Boucle FOR sur le nombre de menus à afficher.
Template d'affichage des menus:  
#}
    {% for menu in menus %}
<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>


        <div class="uk-card-media-left uk-cover-container">
            <img src="{{menu.photo}}" alt="" uk-cover class="rounded-image padding-pic">
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">{{menu.nom}}</h3>
                <p>{{menu.description}}</p>

                <div>
                    <button class="uk-button uk-button-default rounded-image button-position">Prix/pers. {{menu.prix}} €</button>
                </div>
            </div>
        </div>

</div>
    {% endfor %}
{% endblock %}
