{% extends 'admin.html.twig' %}

{% block content %}

{{dump(user)}}

{% include 'Admin/User/_form.html.twig' %}

<a href="/admin/user"><button class="uk-button uk-button-secondary uk-button-large">Tous les utilisateurs</button></a>

{% endblock %}