{% extends 'layout.html.twig' %}

{% block title %}Page d'accueil Strascook{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
{% endblock %}

{% block content %}

<div class="uk-container uk-container-expand lw-div-accueil">
  <h1 class="uk-heading-small">Votre expérience chef à domicile pour toutes vos occasions</h1>
</div>
<!-- Swiper -->
<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="/assets/images/carousel/agneau-rond.png" alt="assiette d'une côte d'agneau"/></div>
    <div class="swiper-slide"><img src="/assets/images/carousel/aubergine-rond.png" alt="assiette d'une aubergine grillée"/></div>
    <div class="swiper-slide"><img src="/assets/images/carousel/bowlvegan-rond.png" alt="assiette d'un bowl vegan"/></div>
    <div class="swiper-slide"><img src="/assets/images/carousel/curry-rond.png" alt="assiette dun curry"/></div>
    <div class="swiper-slide"><img src="/assets/images/carousel/pastamoules-rond.png" alt="assiette de pâtes aux moules"/></div>
    <div class="swiper-slide"><img src="/assets/images/carousel/pastaparmesan-rond.png" alt="assiette de pâtes au parmesan"/></div>
    <div class="swiper-slide"><img src="/assets/images/carousel/pastatomate-rond.png" alt="assitte de pâtes aux tomates cerises"/></div>
    <div class="swiper-slide"><img src="/assets/images/carousel/ramen-rond.png" alt="assiette de ramen"/></div>
    <div class="swiper-slide"><img src="/assets/images/carousel/saladecesar-rond.png" alt="assiette d'une salade cesar"/></div>
    <div class="swiper-slide"><img src="/assets/images/carousel/saladevegan-rond.png" alt="assiette d'une salade vegan"/></div>
    <div class="swiper-slide"><img src="/assets/images/carousel/sushi-rond.png" alt="plat de sushi"/></div>

  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<div class="uk-container">
  <p>Strascook est né de l'envie du chef Strasbourgeois Yavuz Kutuk de vous faire vivre une expérience culinaire
    exceptionnelle à domicile.
    <br><br>La qualité d'un repas gatronomique dans l'intimité de votre chez vous, pour un moment privilégié et hors du
    temps.
  </p>
</div>

<div class="uk-container button-accueil-resa">
  <a href='/reservation'><button class="uk-button-large">Réservation</button></a>
</div>
{% endblock %}


{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper('.swiper', {
    slidesPerView: 1,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    loop: true,
    breakpoints: {
        430: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        640: {
          slidesPerView: 2,
          spaceBetween: 80,
        },
        768: {
          slidesPerView: 3,
          spaceBetween: 20,
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 70,
        },
         1440: {
          slidesPerView: 5,
          spaceBetween: 125,
        },
        2560: {
          slidesPerView: 5,
          spaceBetween: 125,
        },
      }
  });

  
</script>
{% endblock %}