.connexion-form {
    background-color: var(--main-color);
    font-family: var(--main-font);
    width: 45%;
    border-radius: 20px;
    margin: auto;
    box-shadow: var(--box-shadow);
}

.connexion-champ {
    box-shadow: var(--box-shadow);
    border: none;
    height: calc(var(--size)*2.5);
    border-radius: 20px;
    margin: auto;
}

.connexion-label-input {
    display: flex;
    flex-direction: column;
    padding-top: calc(var(--padding)*1.5);
    gap: 1rem;
}

.connexion-label {
    color: white;
    margin: auto;
    font-size: calc(var(--font-size)*1.5);
}

.button-connexion-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: calc(var(--padding)*3);
    padding-bottom: calc(var(--padding)*3);
}

.deja-inscrit {
    text-align: center;
    padding-top: calc(var(--padding)*0.5);
    font-family: var(--main-font);
    font-size: calc(var(--font-size)*1.2);
}