* {
    font-family: var(--main-font);

}

.title {
    font-family: var(--title-font);
    color: white;

}

.div-contact-infos {
    color: white;
    background-color: var(--main-color);
    font-size: larger;
}

.formcontact {

    border-radius: 20px !important;
    box-shadow: var(--box-shadow);
    resize: none;
    background-color: var(--soft-dark);
    font-size: 1.5rem;
}

.label-contact {
    color: var(--soft-dark);
    font-size: 1.5rem;

}

.div-contact-form {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: left;

}

.button-submit-contact {
    margin-top: 2rem;
    margin-bottom: 5rem;

}

.uk-icon-button {
    margin-left: 10px;

}