:root {
    --main-color: #8B0901;
    --dark: black;
    --accent-color: #D9B114;
    --soft-dark: #4A4A4A;
    --main-font: 'livvic';
    --title-font: 'noto-serif';
    --padding: 1rem;
    --margin: 1rem;
    --font-size: 1rem;

}

.uk-button-large {
    background-color: var(--accent-color);
    border: none;
    font-family: var(--main-font);
    font-size: calc(var(--font-size)*1.5);
    border-radius: 35px;
}

.connexion-form {
    background-color: var(--main-color);
    font-family: var(--main-font);
    width: 100%;
}

.uk-heading-small {
    font-family: var(--title-font);
    padding-bottom: calc(var(--padding)*4);
}