:root {
    --main-color: #8B0901;
    --dark: black;
    --accent-color: #D9B114;
    --soft-dark: #4A4A4A;
    --main-font: 'livvic';
    --title-font: 'noto-serif';
    --padding: 1rem;
    --margin: 1rem;

}