
<footer class="uk-navbar-container" uk-navbar>

        <div class="uk-navbar-left">

            <div class="uk-active"><a href="/mentionslegales">Mention Legales</a></div>
            <div class="uk-active"><a href="/contact">Contact</a></div>
            <div class="uk-active"><a href="/reservation">Reservation</a></div>
            <p> <u>Copyright © 2023 StrasCook. All rights reserved.</u></p>
            
    </div>

    

     <div class="uk-navbar-right">
    <img src="/assets/images/facebook.svg">
    <img src="/assets/images/instagram.svg">
    <img src="/assets/images/pinterest.svg">   
    </div>
    
</footer>