<header>
    <nav class="uk-navbar-container">
        <div class="uk-container">
            <div uk-navbar>
            
                    {# Les 3 premiers menus #}
                    <div class="uk-navbar-left">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="/">Accueil</a></li>
                            <li class="uk-active"><a href="/menus">Menus</a></li>
                            <li class="uk-active"><a href="/reservation">Reservation</a></li>
                            <li class="uk-active"><a href="/contact">Contact</a></li>
                        </ul>
                    </div>

                    {# Les 2 images : logo et handy strascook #}
                    <div class="uk-navbar-center">
                        <img src="/assets/images/logo_strascook.png" width="60" heigth="60" alt="logo du site strascook" />
                        <img src="/assets/images/handy_strascook.png" width="160" heigth="160" alt="logo du site strascook" />
                    </div>

                    {# Les icones Facebook et Instagram #}
                    <div class="uk-navbar-center-right">
                        <ul>
                            <img src="/assets/images/icon_facebook.svg" width="25" heigth="25" alt="icone facebook" />
                            <img src="/assets/images/icon_instagram.svg" width="25" heigth="25" alt="icone instagram" />
                        </ul>
                    </div>

                    {# Reservation & Contact #}
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav">
                            {% if session.isLogin == true %} 
                            <li class="uk-active"><a href="/logout">Déconnexion</a></li>
                            {% else %}
                            <li class="uk-active"><a href="/connexion">Connexion</a></li>
                            <li class="uk-active"><a href="/inscription">Inscription</a></li>
                            {% endif %}
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </nav>
</header>